<% provide(:title, 'Courses') %>
<%# <h1>Courses</h1>
<p>
  The guidelines to the courses.
</p> %>

<!DOCTYPE html>
<html class="scripts-not-loaded" dir="ltr"   lang="en-GB">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <%# <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&amp;subset=latin-ext&amp;display=swap" rel="stylesheet"> %>
    <script>if (navigator.userAgent.match(/(MSIE|Trident\/)/)) location.replace('/ie-is-not-supported.html')</script>
  <script>
//<![CDATA[

!function(){
  function get(u){document.write('<scr'+'ipt src="'+ u +'"></sc'+'ript>')}
  var o,s,v;
  if (!(window.Promise && Object.assign && Object.values && [].find && [].includes && (o={},s=Symbol(),v={},o[s]=v,o[s]===v) && (function f(){}).bind().name==='bound f')) {
    get("https://du11hjcvx0uqb.cloudfront.net/br/dist/ie11-polyfill-5cf07f7aab.js");
  }
  if (!window.fetch) get("https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js");
}();
      
//]]>
</script>
  <script>window.fetchIgnoredByNewRelic = window.fetch</script>
  <link rel="shortcut icon" type="image/x-icon" href="https://instructure-uploads-apse2.s3-ap-southeast-2.amazonaws.com/account_70360000000000001/attachments/991/uoa-401X437.png?AWSAccessKeyId=AKIAIZAVS3WMRR54DT4Q&amp;Expires=1937606186&amp;Signature=BSMCs%2FAhokjp9NOw3b%2Br7gZxr8Y%3D&amp;response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&amp;response-expires=473364000.0" />
  <link rel="apple-touch-icon" href="https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_70360000000000001/attachments/5022279/180x180.png" />
  <%# <link rel="stylesheet" media="all" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/39e867266f5a089cd1d7af0dded5c9b1/variables-8391c84da435c9cfceea2b2b3317ff66.css" />
  <link rel="stylesheet" media="all" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/new_styles_normal_contrast/bundles/common-494d9d8c74.css" /> %>
  <meta name="apple-itunes-app" content="app-id=480883488" />
<link rel="manifest" href="/web-app-manifest/manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#102535">
  <%# <link rel="stylesheet" media="all" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/no_variables/bundles/wiki_page-46e7e026f6.css" />
  <link rel="stylesheet" media="all" href="https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_70360000000000001/attachments/4323536/UofA_canvas.css" /> %>
  <script>
    function _earlyClick(e){
      var c = e.target
      while (c && c.ownerDocument) {
        if (c.getAttribute('href') == '#' || c.getAttribute('data-method')) {
          e.preventDefault()
          (_earlyClick.clicks = _earlyClick.clicks || []).push(c)
          break
        }
        c = c.parentNode
      }
    }
    document.addEventListener('click', _earlyClick)
  </script>
  <script src="https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/39e867266f5a089cd1d7af0dded5c9b1/variables-8391c84da435c9cfceea2b2b3317ff66.js" defer="defer"></script>

  <link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/Australia/Adelaide-6140bbd861.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/Australia/Adelaide-6140bbd861.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/en_GB-31745e04c9.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/moment/locale/en-gb-c-c3f7a744f8.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/main-e-fe41aa266b.js" as="script" type="text/javascript"><script src="https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/Australia/Adelaide-6140bbd861.js" defer="defer"></script>
<script src="https://du11hjcvx0uqb.cloudfront.net/br/dist/timezone/en_GB-31745e04c9.js" defer="defer"></script>
<script src="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/moment/locale/en-gb-c-c3f7a744f8.js" defer="defer"></script>
<script src="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/main-e-fe41aa266b.js" defer="defer"></script><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/0-c-4c309269f3.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/1-c-60fe57799b.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/2-c-10903610f1.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/3-c-4c1469ef0e.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/4-c-eb1bea7c14.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/5-c-2ac6bf4fee.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/6-c-dbab1135b3.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/7-c-3b2aff72be.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/8-c-a0b0e6d0b9.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/9-c-6b14c8f933.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/10-c-4644786f14.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/11-c-12218013cd.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/12-c-1240ea81f0.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/13-c-69fbd86abf.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/16-c-02d65e055c.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/15-c-36f3011510.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/20-c-6057910d74.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/25-c-ee23a55c3e.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/26-c-db0f288283.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/27-c-785364689f.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/33-c-79a97f2e48.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/35-c-431f44792f.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/42-c-ce4f88599f.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/52-c-e2361ae01c.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/54-c-1f69a8eea8.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/59-c-c15c0ace4f.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/66-c-c0c765e39c.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/61-c-da4cc8ffc8.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/76-c-365984c7b0.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/wiki_page_show-c-a422f0ad30.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/214-c-3646aa31d2.js" as="script" type="text/javascript"><link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/br/dist/webpack-production/navigation_header-c-81c261e3f4.js" as="script" type="text/javascript"><script>
//<![CDATA[
(window.bundles || (window.bundles = [])).push('wiki_page_show');
(window.bundles || (window.bundles = [])).push('navigation_header');
//]]>
</script>
  <title>About this course: Computer Systems (2000_7081 Combined)</title>
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', "UA-9138420-1", 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>

</head>

<body class="with-left-side course-menu-expanded padless-content pages primary-nav-expanded context-course_44936">

<noscript>
  <div role="alert" class="ic-flash-static ic-flash-error">
    <div class="ic-flash__icon" aria-hidden="true">
      <i class="icon-warning"></i>
    </div>
    <h1> To access this site, you must enable JavaScript.</h1>
  </div>
</noscript>

<ul id="flash_message_holder"></ul>
<div id="flash_screenreader_holder"></div>

<div id="wiki_page_show"></div>
<%# TODO: display corresponding courses stored in the user_table, 
and select the wikis and quizzes from the wiki_table according to the courses which the wikis belong to%>

  <h3><%= "Wikis:" %></h3>
  <% @users.each_slice(3) do |users_slices| %>
  <ul class="users">
    <% users_slices.each do |user| %>
      <%= render user %>
    <% end %>
  </ul>
  <% end %>

  <h3><%= "Quizzes:" %></h3>
  <% @users.each_slice(3) do |users_slices| %>
  <ul class="users">
    <% users_slices.each do |user| %>
      <%= render user %>
    <% end %>
  </ul>
  <% end %>

          </div>
        </div>
        <div id="right-side-wrapper" class="ic-app-main-content__secondary">
          <aside id="right-side" role="complementary">
            
          </aside>
        </div>
      </div>
    </div>
  </div>


    <div style="display:none;"><!-- Everything inside of this should always stay hidden -->
        <div id="page_view_id">c69d2a97-fb3b-4680-b2b4-a4da32200e2f</div>
    </div>
  <div id='aria_alerts' class='hide-text affix' role="alert" aria-live="assertive"></div>
  <div id='StudentTray__Container'></div>
  

<script>
  INST = {"environment":"production","allowMediaComments":true,"kalturaSettings":{"domain":"apse2.nv.instructuremedia.com","resource_domain":"apse2.nv.instructuremedia.com","rtmp_domain":"syd.rtmp.instructuremedia.com","partner_id":"2","subpartner_id":"0","player_ui_conf":"0","kcw_ui_conf":"0","upload_ui_conf":"0","max_file_size_bytes":534773760,"do_analytics":false,"hide_rte_button":false,"js_uploader":true},"logPageViews":true,"maxVisibleEditorButtons":3,"editorButtons":[{"name":"Commons Favourites","id":1,"url":"https://lor.instructure.com/api/lti/favorite-resources","icon_url":"https://lor.instructure.com/img/icon_commons.png","canvas_icon_class":null,"width":800,"height":400,"use_tray":true},{"name":"Echo360","id":82,"url":"https://echo360.org.au/lti/5444fea8-33ce-4784-934a-2e9f0cb5a200","icon_url":"https://echo360.org.au/assets/images/favicon.png","canvas_icon_class":null,"width":600,"height":500,"use_tray":false},{"name":"YouTube","id":618,"url":"https://www.edu-apps.org/lti_public_resources/?tool_id=youtube","icon_url":"https://www.edu-apps.org/assets/lti_public_resources/youtube_icon.png","canvas_icon_class":null,"width":560,"height":600,"use_tray":false},{"name":"Quizlet","id":753,"url":"https://www.edu-apps.org/lti_public_resources/?tool_id=quizlet","icon_url":"https://www.edu-apps.org/assets/lti_public_resources/quizlet_icon.png","canvas_icon_class":null,"width":560,"height":600,"use_tray":false},{"name":"Upload/Embed Image","id":1543,"url":"https://multitool.ciditools.com/cropped/controller.php","icon_url":"https://multitool.ciditools.com/cropped/croppedIcon.png","canvas_icon_class":null,"width":750,"height":620,"use_tray":false},{"name":"Interactive Content – H5P","id":1544,"url":"https://adelaide.h5p.com","icon_url":"https://adelaide.h5p.com/img/h5p-icon.png","canvas_icon_class":null,"width":800,"height":600,"use_tray":false}]};
  ENV = {"ASSET_HOST":"https://du11hjcvx0uqb.cloudfront.net/br","active_brand_config_json_url":"https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/39e867266f5a089cd1d7af0dded5c9b1/variables-8391c84da435c9cfceea2b2b3317ff66.json","url_to_what_gets_loaded_inside_the_tinymce_editor_css":["https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/39e867266f5a089cd1d7af0dded5c9b1/variables-8391c84da435c9cfceea2b2b3317ff66.css","https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/new_styles_normal_contrast/bundles/what_gets_loaded_inside_the_tinymce_editor-e4ebc469d3.css"],"url_for_high_contrast_tinymce_editor_css":["https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/default/variables-high_contrast-8391c84da435c9cfceea2b2b3317ff66.css","https://du11hjcvx0uqb.cloudfront.net/br/dist/brandable_css/new_styles_high_contrast/bundles/what_gets_loaded_inside_the_tinymce_editor-50b1157940.css"],"current_user_id":"89287","current_user_roles":["user","student"],"current_user_disabled_inbox":false,"files_domain":"cluster76.canvas-user-content.com","DOMAIN_ROOT_ACCOUNT_ID":70360000000000001,"k12":false,"use_responsive_layout":false,"use_rce_enhancements":false,"use_unsplash_image_search":true,"help_link_name":"Help","help_link_icon":"help","use_high_contrast":false,"LTI_LAUNCH_FRAME_ALLOWANCES":["geolocation *","microphone *","camera *","midi *","encrypted-media *","autoplay *"],"DEEP_LINKING_POST_MESSAGE_ORIGIN":"https://myuni.adelaide.edu.au","DEEP_LINKING_LOGGING":null,"SETTINGS":{"open_registration":false,"collapse_global_nav":false,"show_feedback_link":true},"current_user":{"id":"89287","display_name":"Changyu Kang","avatar_image_url":"https://myuni.adelaide.edu.au/images/messages/avatar-50.png","html_url":"https://myuni.adelaide.edu.au/about/89287","avatar_is_fallback":true},"page_view_update_url":"/page_views/c69d2a97-fb3b-4680-b2b4-a4da32200e2f?page_view_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpIjoiYzY5ZDJhOTctZmIzYi00NjgwLWIyYjQtYTRkYTMyMjAwZTJmIiwidSI6NzAzNjAwMDAwMDAwODkyODcsImMiOiIyMDE5LTA5LTEzVDAzOjI3OjMxLjM3WiJ9.MNS2Hz-KlcJIR0Lm4Flxznd-WHQsgxRdPV4BcvLzRV0","context_asset_string":"course_44936","ping_url":"https://myuni.adelaide.edu.au/api/v1/courses/44936/ping","TIMEZONE":"Australia/Adelaide","CONTEXT_TIMEZONE":"Australia/Adelaide","LOCALE":"en-GB","BIGEASY_LOCALE":"en_GB","FULLCALENDAR_LOCALE":"en-gb","MOMENT_LOCALE":"en-gb","WIKI_RIGHTS":{"read":true},"PAGE_RIGHTS":{"read":true},"DEFAULT_EDITING_ROLES":"teachers","WIKI_PAGES_PATH":"/courses/44936/pages","WIKI_PAGE":{"title":"About this course","created_at":"2018-12-15T06:28:41Z","url":"about-this-course","editing_roles":"teachers","page_id":"915913","last_edited_by":{"id":"726","display_name":"Fred Brown","avatar_image_url":"https://myuni.adelaide.edu.au/images/messages/avatar-50.png","html_url":"https://myuni.adelaide.edu.au/courses/44936/users/726"},"published":true,"hide_from_students":false,"front_page":false,"html_url":"https://myuni.adelaide.edu.au/courses/44936/pages/about-this-course","todo_date":null,"updated_at":"2019-06-25T02:59:03Z","locked_for_user":false,"body":"\u003ch2\u003eOverview\u003c/h2\u003e\r\n\u003cp\u003eThis course introduces the elements of computer systems from the level of basic hardware gates, through to compilers, languages and applications. The aim is to give you an overview of the layered nature of computer systems and how the use of simple interfaces can make the design of complex and powerful systems possible. In workshops and programming assignments you will get to work with code that expresses system components. Detailed knowledge will be assessed using written exams.\u003c/p\u003e\r\n\u003cp\u003eIn this course we put a high value on reflection and trying things for yourself. As such we require you to enter an electronic log book for each programming assignment and strongly encourage the use of a log book for all of your workshops. These log books are accessible via the \u003ca href=\"https://cs.adelaide.edu.au/services/websubmission/index.php\"\u003eweb submission system\u003c/a\u003e - under a link to the logbook to in the \"feedback\" tab for each workshop and assignment.  More details on assessment and the course can be found in the course outline links below.\u003c/p\u003e\r\n\u003ch5 style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\"\u003e\u003cstrong\u003eText Book\u003c/strong\u003e\u003c/h5\u003e\r\n\u003cp\u003e\u003ca href=\"http://www.nand2tetris.org/\"\u003eThe Elements of Computing Systems\u003c/a\u003e (by Nisan and Shocken).\u003c/p\u003e\r\n\u003cp\u003eVery highly recommended. We will cover this book one chapter per week. Links to programming resources that you can use at home can be found at the Nand2Tetris resources link below. The first six chapters of the book are also freely available on the authors' website. However, we will go beyond chapter 6 so it is highly recommended that you buy the book.\u003c/p\u003e\r\n\u003ch2\u003eLearning Outcomes\u003c/h2\u003e\r\n\u003cp\u003eThis course has been designed to support you to achieve course learning outcomes and develop broad skills that can be used in your academic and professional work. The learning outcomes and graduate attributes for this course are listed in the Course Outline.\u003c/p\u003e"},"WIKI_PAGE_REVISION":"3","WIKI_PAGE_SHOW_PATH":"/courses/44936/pages/about-this-course","WIKI_PAGE_EDIT_PATH":"/courses/44936/pages/about-this-course/edit","WIKI_PAGE_HISTORY_PATH":"/courses/44936/pages/about-this-course/revisions","COURSE_ID":"44936","MODULES_PATH":"/courses/44936/modules","wiki_page_menu_tools":[],"DISPLAY_SHOW_ALL_LINK":false,"STUDENT_PLANNER_ENABLED":true,"DIRECT_SHARE_ENABLED":false,"badge_counts":{"submissions":0},"notices":[],"active_context_tab":"pages"};
</script>

<script src="https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_70360000000000001/attachments/4324989/UofA_canvas.js" defer="defer"></script>

</div> <!-- #application -->
</body>
</html>

