<div class="center jumbotron">
  <h1>Employee Training System</h1>

  <h2>
    Training employees since 2019
  </h2>

  <!--<%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>-->
</div>