<HTML>
<HEAD>

THIS is the wiki page

</HEAD>

<body marginheight="10" marginwidth="10" topmargin="10" leftmargin="10" rightmargin="10" bgcolor="#FFFFF0">
      
	  <font color="#003399" size="3" face="Arial, Helvetica, sans-serif"><strong>
      </strong></font>
	
<p>
The Solar System[a] is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly.[b] Of the objects that orbit the Sun directly, the largest are the eight planets,[c] with the remainder being smaller objects, such as the five dwarf planets and small Solar System bodies. Of the objects that orbit the Sun indirectly—the moons—two are larger than the smallest planet, Mercury.[d]
</p>  

<p>this is the link to the quiz:
<a href="http://localhost:3000/quiz">quiz demo</a>
</p>


</body>
</html>
